<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f3f3e063-dbdd-4c4f-b8ae-70263ac9cbbf" Alias="contentPage" Level="2">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A simple content page</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="5499c467-e58f-4103-8d7b-4872f013544b">contentProperties</Composition>
      <Composition Key="c86869bf-85ab-4d74-b2f2-81f0448caeca">headerProperties</Composition>
      <Composition Key="6629dd74-2748-4333-83c3-b01a500abba5">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>ContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="657c6ccd-d7af-4a74-8d58-1f7bec22819c">ContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>