<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="de47a312-98e5-4b0c-9c9c-d76a82802bbd" Alias="featuredItemsRow" Level="4">
  <Info>
    <Name>Featured Items Row</Name>
    <Icon>icon-thumbnail-list color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Blocks/Content+Models</Folder>
    <Compositions>
      <Composition Key="38e71ffe-d47b-4656-8d37-8a1726578c84">descriptionProperty</Composition>
      <Composition Key="0fb7c903-2852-43b2-8914-732063f55a78">titleProperty</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b9520e3b-da12-4c99-8437-67a30d8099cc</Key>
      <Name>Featured Items</Name>
      <Alias>featuredItems</Alias>
      <Definition>d2e7b829-acb7-4ded-9635-22b1365646e7</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add the featured items for this row]]></Description>
      <SortOrder>40</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>17ef48f2-fab5-4f6a-b789-56605daf9d67</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>