<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e49f61c6-4a3e-4ff1-b305-9d1f6496f6f3" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="cd26324f-680a-4dd5-935a-eb1a449c0553">footerPoperties</Composition>
      <Composition Key="c86869bf-85ab-4d74-b2f2-81f0448caeca">headerProperties</Composition>
      <Composition Key="d1956db5-b74f-4666-9841-1e351a21de09">siteNavigationProperties</Composition>
    </Compositions>
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="16a1a50e-856a-4fbf-b129-973188362dfb">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="f3f3e063-dbdd-4c4f-b8ae-70263ac9cbbf" SortOrder="0">contentPage</ContentType>
    <ContentType Key="1608675b-8696-4f95-8a67-0c6eb541ec37" SortOrder="1">contactPage</ContentType>
    <ContentType Key="9f834f7d-66ee-4bb4-b639-aaad91c2b2b3" SortOrder="2">articleListPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>