<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0b4fe40e-cdfd-48ce-b3f5-c3a2d243b9d6" Alias="[BlockList] Accordion List" Level="1">
  <Info>
    <Name>[BlockList] Accordion List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "2d17c9f0-2f1a-4386-96bb-7b6e53bef6a4",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{title != '' ? title : 'Accordion Item ' + $index}} {{$settings.hide == '1' ? [HIDDEN] : ''}}",
      "settingsElementTypeKey": "722409ad-9532-4247-b1c2-62d437ac01aa",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>