<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cdbe05ee-fdb8-4c2a-a6da-1a98a23f057a" Alias="[BlockList] Main Content" Level="1">
  <Info>
    <Name>[BlockList] Main Content</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "ee800543-b790-4cd8-9c35-401c3f5073f1",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ 'Rich Text ' + $index }} {{$settings.hide == '1' ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "2825959f-e550-45df-9a2f-a6ac2ae3ddec",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": "#ffffff",
      "contentElementTypeKey": "10e1938b-dc72-4a2a-aa88-e668a7200f39",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ 'Image Row ' + $index}} {{$settings.hide == '1' ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "8fdfc545-fa43-404f-8fb9-e91d446fe653",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "de47a312-98e5-4b0c-9c9c-d76a82802bbd",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{title != '' ? title : 'Featured Items ' + $index}} {{$settings.hide == '1' ? [HIDDEN] : ''}}",
      "settingsElementTypeKey": "9c4b7191-3fcf-4196-a100-1c4367b5b89f",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "a541d638-bcbb-4f9e-8b4b-85fa560a4e76",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{title != '' ? title : 'Accordion ' + $index}} {{$settings.hide == '1' ? [HIDDEN] : ''}}",
      "settingsElementTypeKey": "ca071624-e893-4e9b-b20b-b204ee053ade",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "a6adb568-f6f6-4b4c-9c5a-b8927caf15a5",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{title != '' ? quoteAuthor : 'Quote' + $index}} {{$settings.hide == '1' ? [HIDDEN] : ''}}",
      "settingsElementTypeKey": "e37740e1-6fea-4d87-bb06-7ff13a8eb7b3",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "5ae4c1d7-3679-4bee-951b-da91af2471e6",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ 'Carousel ' + $index }} {{$settings.hide == '1' ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "6e064e68-3b5e-438f-927b-ae99db3143a9",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>