<?xml version="1.0" encoding="utf-8"?>
<DataType Key="804fa075-4b66-4c6a-9b60-89124cd2b7fc" Alias="[BlockList] Carousel Items" Level="1">
  <Info>
    <Name>[BlockList] Carousel Items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "4c1b9043-2085-4f89-b67b-497e77ee4e70",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{title != '' ? title : 'Slide ' + $index}} {{$settings.hide == '1' ? [HIDDEN] : ''}}",
      "settingsElementTypeKey": "0771b8ef-446c-4c87-b5cf-f9d97a4b8247",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>