<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d2e7b829-acb7-4ded-9635-22b1365646e7" Alias="[BlockList] Image Links" Level="1">
  <Info>
    <Name>[BlockList] Image Links</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "ef8664c3-0f7e-4c14-a909-f856ea498954",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{title != '' ? title : 'Image Link ' + $index}} {{$settings.hide == '1' ? [HIDDEN] : ''}}",
      "settingsElementTypeKey": "24bfed66-2ed8-4897-9edc-6897b5f512dd",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>