<?xml version="1.0" encoding="utf-8"?>
<DataType Key="77c79a76-352d-418c-a98e-46b3c3bbc377" Alias="[Dropdown] Colours" Level="1">
  <Info>
    <Name>[Dropdown] Colours</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Orange"
    },
    {
      "id": 2,
      "value": "Red"
    },
    {
      "id": 3,
      "value": "Blue"
    },
    {
      "id": 4,
      "value": "Indigo"
    },
    {
      "id": 5,
      "value": "Green"
    },
    {
      "id": 6,
      "value": "Violet"
    },
    {
      "id": 7,
      "value": "Black"
    },
    {
      "id": 8,
      "value": "Pink"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>