<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1a65fcff-1adf-4a8c-acce-b25b2606cddd" Alias="[Rich Text Editor] Simple RTE" Level="1">
  <Info>
    <Name>[Rich Text Editor] Simple RTE</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "ace",
      "bold",
      "italic",
      "underline"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small"
}]]></Config>
</DataType>