<?xml version="1.0" encoding="utf-8"?>
<Content Key="dda3ed91-f9b9-4ea1-8c98-a0b76440f119" Alias="About" Level="2">
  <Info>
    <Parent Key="da1855fd-2508-4575-9082-79cdd5555c75">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-10-19T12:23:40</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="657c6ccd-d7af-4a74-8d58-1f7bec22819c">ContentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "76d00677-f648-4ed1-a455-695a0588ca5a",
    "mediaKey": "3e6fa4c8-3ce1-4c8d-9fcf-5b403ed062d2"
  }
]]]></Value>
    </headerImage>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e733b183cf274560b1c32d8feace79e8",
        "settingsUdi": "umb://element/de6fe7a1c78f466a8045f32070771479"
      },
      {
        "contentUdi": "umb://element/e0c38e1aefd4489ea178f6c189dbde75",
        "settingsUdi": "umb://element/173d89aa0ba640b1967d9f6ae9d1dfda"
      },
      {
        "contentUdi": "umb://element/137f626cbe0c47a7a56d55e4bbdbd51d",
        "settingsUdi": "umb://element/0137e43895ba40f19afdf6eb751c6a00"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ee800543-b790-4cd8-9c35-401c3f5073f1",
      "udi": "umb://element/e733b183cf274560b1c32d8feace79e8",
      "content": "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?</p>\n<p><strong>Test</strong></p>\n<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius praesentium recusandae illo eaque architecto error, repellendus iusto reprehenderit, doloribus, minus sunt. Numquam at quae voluptatum in officia voluptas voluptatibus, minus!</p>\n<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur magnam, excepturi aliquid ex itaque esse est vero natus quae optio aperiam soluta voluptatibus corporis atque iste neque sit tempora!</p>"
    },
    {
      "contentTypeKey": "10e1938b-dc72-4a2a-aa88-e668a7200f39",
      "udi": "umb://element/e0c38e1aefd4489ea178f6c189dbde75",
      "image": [
        {
          "key": "e859bae6-ced9-45b4-b301-7b4efc06a762",
          "mediaKey": "3e6fa4c8-3ce1-4c8d-9fcf-5b403ed062d2"
        }
      ],
      "caption": "test",
      "link": [
        {
          "name": "Dogs on google",
          "url": "https://google.com",
          "queryString": "?query=dogs"
        }
      ]
    },
    {
      "contentTypeKey": "de47a312-98e5-4b0c-9c9c-d76a82802bbd",
      "udi": "umb://element/137f626cbe0c47a7a56d55e4bbdbd51d",
      "title": "Featured Items",
      "description": "These are some items",
      "featuredItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/d27a8316627648cc8d5b32000418f9d6",
              "settingsUdi": "umb://element/97e430487ee948ab9426c89267ca50b0"
            },
            {
              "contentUdi": "umb://element/3b47d2406d2447cf9932e10b14f8cdb4",
              "settingsUdi": "umb://element/a84d6b384d2c488fb2cb4fdc58208ca0"
            },
            {
              "contentUdi": "umb://element/0112c7e6ec2a4b4cb65ee13ae0c08e1a",
              "settingsUdi": "umb://element/2cafbd2196f84dab93a475af41318466"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "ef8664c3-0f7e-4c14-a909-f856ea498954",
            "udi": "umb://element/d27a8316627648cc8d5b32000418f9d6",
            "image": [
              {
                "key": "480b9232-4267-4f27-b5ed-226e776ff592",
                "mediaKey": "3e6fa4c8-3ce1-4c8d-9fcf-5b403ed062d2"
              }
            ],
            "link": [
              {
                "name": "Blog",
                "udi": "umb://document/6975add2d24d474398997d156ade5d08"
              }
            ],
            "title": "First one",
            "description": "This is the first featured item"
          },
          {
            "contentTypeKey": "ef8664c3-0f7e-4c14-a909-f856ea498954",
            "udi": "umb://element/3b47d2406d2447cf9932e10b14f8cdb4",
            "image": [
              {
                "key": "82bbce48-6200-41bb-a4aa-90f961d34ff9",
                "mediaKey": "31464853-baad-4dee-8ffd-7fe9802f9204"
              }
            ],
            "link": [
              {
                "name": "Contact",
                "udi": "umb://document/784e06025d1e47c5aee520fb29f13da0"
              }
            ],
            "title": "Second Item",
            "description": "This is another one"
          },
          {
            "contentTypeKey": "ef8664c3-0f7e-4c14-a909-f856ea498954",
            "udi": "umb://element/0112c7e6ec2a4b4cb65ee13ae0c08e1a",
            "image": [
              {
                "key": "ff3550d2-4d58-413b-a9fd-d8136becc99a",
                "mediaKey": "3e6fa4c8-3ce1-4c8d-9fcf-5b403ed062d2"
              }
            ],
            "link": [
              {
                "name": "Home",
                "udi": "umb://document/da1855fd25084575908279cdd5555c75"
              }
            ],
            "title": "Last One",
            "description": "This is the last"
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "24bfed66-2ed8-4897-9edc-6897b5f512dd",
            "udi": "umb://element/97e430487ee948ab9426c89267ca50b0"
          },
          {
            "contentTypeKey": "24bfed66-2ed8-4897-9edc-6897b5f512dd",
            "udi": "umb://element/a84d6b384d2c488fb2cb4fdc58208ca0"
          },
          {
            "contentTypeKey": "24bfed66-2ed8-4897-9edc-6897b5f512dd",
            "udi": "umb://element/2cafbd2196f84dab93a475af41318466"
          }
        ]
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "2825959f-e550-45df-9a2f-a6ac2ae3ddec",
      "udi": "umb://element/de6fe7a1c78f466a8045f32070771479"
    },
    {
      "contentTypeKey": "8fdfc545-fa43-404f-8fb9-e91d446fe653",
      "udi": "umb://element/173d89aa0ba640b1967d9f6ae9d1dfda",
      "hide": "0"
    },
    {
      "contentTypeKey": "9c4b7191-3fcf-4196-a100-1c4367b5b89f",
      "udi": "umb://element/0137e43895ba40f19afdf6eb751c6a00"
    }
  ]
}]]></Value>
    </mainContent>
    <subtitle>
      <Value><![CDATA[This will tell you all you need]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[About this website]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>