<?xml version="1.0" encoding="utf-8"?>
<Content Key="dda3ed91-f9b9-4ea1-8c98-a0b76440f119" Alias="About" Level="2">
  <Info>
    <Parent Key="da1855fd-2508-4575-9082-79cdd5555c75">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-10-19T12:23:40</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="657c6ccd-d7af-4a74-8d58-1f7bec22819c">ContentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?</p>
<p><strong>Test</strong></p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius praesentium recusandae illo eaque architecto error, repellendus iusto reprehenderit, doloribus, minus sunt. Numquam at quae voluptatum in officia voluptas voluptatibus, minus!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur magnam, excepturi aliquid ex itaque esse est vero natus quae optio aperiam soluta voluptatibus corporis atque iste neque sit tempora!</p>]]></Value>
    </bodyText>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "76d00677-f648-4ed1-a455-695a0588ca5a",
    "mediaKey": "3e6fa4c8-3ce1-4c8d-9fcf-5b403ed062d2"
  }
]]]></Value>
    </headerImage>
    <subtitle>
      <Value><![CDATA[This will tell you all you need]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[About this website]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>