<?xml version="1.0" encoding="utf-8"?>
<Content Key="da1855fd-2508-4575-9082-79cdd5555c75" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2023-10-18T22:01:44</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="16a1a50e-856a-4fbf-b129-973188362dfb">Home</Template>
  </Info>
  <Properties>
    <footerSocialLinks>
      <Value><![CDATA[[
  {
    "network": "github",
    "name": "GitHub",
    "url": "https://github.com/vladbezp"
  }
]]]></Value>
    </footerSocialLinks>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "168b3ea6-4746-4284-a261-183e9806ab57",
    "mediaKey": "31464853-baad-4dee-8ffd-7fe9802f9204"
  }
]]]></Value>
    </headerImage>
    <mainNavigation>
      <Value><![CDATA[[
  {
    "key": "f8d3037d-ab25-4597-9ea2-1cce48610cf7",
    "name": "Home",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Home",
    "link": "[{\"name\":\"Home\",\"udi\":\"umb://document/da1855fd25084575908279cdd5555c75\"}]",
    "childLinks": null
  },
  {
    "key": "e348f025-5672-48c4-8379-5f3e8807788c",
    "name": "About",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "About",
    "link": "[{\"name\":\"About\",\"udi\":\"umb://document/dda3ed91f9b94ea18c98a0b76440f119\"}]",
    "childLinks": null
  },
  {
    "key": "c20a3dea-889e-4d7c-91bd-d3331c1ce433",
    "name": "Blog",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Blog",
    "link": null,
    "childLinks": "[{\"name\":\"Blog\",\"udi\":\"umb://document/6975add2d24d474398997d156ade5d08\",\"queryString\":\"#testing1\"},{\"name\":\"Most Popular\",\"url\":\"#testing2\",\"queryString\":\"\"},{\"name\":\"Latest Blog Post\",\"url\":\"#testing3\"}]"
  },
  {
    "key": "3e96af10-1991-43c3-b2a9-dae500dd094e",
    "name": "Contact",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Contact",
    "link": "[{\"name\":\"Contact\",\"udi\":\"umb://document/784e06025d1e47c5aee520fb29f13da0\"}]",
    "childLinks": null
  }
]]]></Value>
    </mainNavigation>
    <subtitle>
      <Value><![CDATA[A blog website for Vlady]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Vlady Umbraco Blog]]></Value>
    </title>
  </Properties>
</Content>